@model ResultService<MealBaseVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@{
    if (Model.HasError)
    {
        string errorMessage = Model.Errors.ToList()[0].ErrorMessage;
        string errorType = Model.Errors.ToList()[0].ErrorType;

        <h4>@errorType</h4>
        <h4>@errorMessage</h4>
    }
    if (TempData["Success"]!=null)
    {
        <h4>@TempData["Success"].ToString()</h4>
    }
    else if (TempData["Errors"] != null)
    {
        <h4>@TempData["Errors"].ToString()</h4>
    }
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.MealName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ListData) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MealName)
            </td>
            <td>
                @Html.ActionLink("Update", "Update", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
